<a href="https://colab.research.google.com/github/manasik29/Hypothesis_Testing_Assignment/blob/main/Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import stats

In [2]:
cutlets = pd.read_csv('/content/Cutlets.csv')

In [3]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

**Q1.** A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.


Minitab File : Cutlets.mtw



Ans: H0 - there is no difference b/w the two.(mu1=mu2)
     
Ha - there is difference b/w the two.(mu1!=mu2)

Significance level = 5%, alpha = 0.05

We will use two sample 2 sample 2 tail test.

In [4]:
stats.ttest_ind(cutlets['Unit A'], cutlets['Unit B'] )

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

P = 0.4

alpha = 0.05

**P > alpha, hence fail to reject H0.**

**Q2**. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
 
    Minitab File: LabTAT.mtw

Ans: We are going to use Anova test.

Define two hypothesis - 

H0 - mu1=mu2=mu3=mu4

Ha - atleast one of them is different.

Significance level = 5% , aplha = 0.05

In [5]:
tat = pd.read_csv('/content/LabTAT.csv')

In [6]:
tat.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98

In [7]:
stats.f_oneway(tat.iloc[:,0], tat.iloc[:,1], tat.iloc[:,2], tat.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

P = 2.115e-57

alpha = 0.05

P<alpha


So, reject H0.

Atleast one of them is different.

**Q3.** Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

Buyer Ratio.mtw

Ans: We are going to use Chi square test.

H0 - there is no dependence of gender on buyin ratio. 

Ha - there is dependence of gender on buying ratio.

In [8]:
br = pd.read_csv('/content/BuyerRatio.csv')

In [10]:
br

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [11]:
from scipy.stats import chi2_contingency
  
# defining the table
data = [[50,142,131,70], [435,1523,1356,750]]
stat, p, dof, expected = chi2_contingency(data)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.6603094907091882
Independent (H0 holds true)

So, there is no dependence of gender on buyer ratio.

**Q4**.  TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Minitab File: CustomerOrderForm.mtw


Ans: 

H0 - all are same,

Ha - atleast one is different.

Significance level - 5%, aplha = 0.05

In [13]:
cof = pd.read_csv('/content/Costomer+OrderForm.csv')

In [14]:
cof.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [15]:
cof.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [17]:
print(cof['Phillippines'].value_counts(),'\n',cof['Indonesia'].value_counts(),'\n',
      cof['Malta'].value_counts(), '\n',cof['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [18]:
from scipy.stats import chi2_contingency
  
# defining the table
data = [[271,267,269,280], [29,33,31,20]]
stat, p, dof, expected = chi2_contingency(data)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.2771020991233135
Independent (H0 holds true)

So, the defective %  does not vary by centres.